<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link href="{{ url_for('static', filename= 'mystyle1.css')}}" rel="stylesheet">
 <a href="{{url_for('home_movies')}}"> <img src="/static/movies.png" style="border-radius: 10%;" width="50" height=40" ></a>
    <a href="{{url_for('add_data')}}"> <img src="/static/add.png" style="border-radius: 10%;" width="40" height="40" ></a>
    <a href="{{url_for('connect_us')}}"> <img src="/static/connect.jpg" style="border-radius: 10%;" width="50" height="40" ></a>
    <a href="{{url_for('about_us')}}">  <img src="/static/about.jpg" style="border-radius: 10%;" width="50" height="40" ></a>

</head>
<body>
<h1> my name is raghda mohammad</h1>
</body>
</html>