<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies data management</title>
    <link href="{{ url_for('static', filename='mystyle1.css')}}" rel="stylesheet">
    <a href="{{url_for('home_movies')}}"> <img src="/static/movies.png" style="border-radius: 10%;" width="50" height=40" ></a>
    <a href="{{url_for('add_data')}}"> <img src="/static/add.png" style="border-radius: 10%;" width="40" height="40" ></a>
    <a href="{{url_for('search')}}"> <img src="/static/search.png" style="border-radius: 10%;" width="50" height="40" ></a>
  <a href="{{url_for('connect_us')}}"> <img src="/static/connect.jpg" style="border-radius: 10%;" width="50" height="40" ></a>
    <a href="{{url_for('about_us')}}">  <img src="/static/about.jpg" style="border-radius: 10%;" width="50" height="40" ></a>

</head>
<body></br>
    <form action="/add" method="post" enctype="multipart/form-data">
      <dl>
       <h1><labe>Poster upload</labe></h1>
          <input type="file" name="filename" required>
      </dl>
        <label>Movie title: </label></br>
        <input type="text" name="movie_title" required></br>
        <label>Director:</label></br>
        <input type="text" name="director" required></br>
        <label>Actors:</label></br>
        <textarea type="text" name="name_actors" required></textarea></br>
        <label>Description:</label></br>
        <textarea type="text" name="description" required></textarea></br>
        <label>Release year:  </label></br>
        <input type="number" name="release_year" required></br>
        <label>Trailer:  </label></br>
        <input type="text" name="video" ></br>

        <button type="submit">Add</button></br>

    </form>

</body>
</html>