<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alter movie</title>
    <link href="{{ url_for('static', filename= 'mystyle1.css')}}" rel="stylesheet">
    <a href="{{url_for('home_movies')}}"> <img src="/static/movies.png" style="border-radius: 10%;" width="50" height=40" ></a>
    <a href="{{url_for('add_data')}}"> <img src="/static/add.png" style="border-radius: 10%;" width="40" height="40" ></a>
    <a href="{{url_for('search')}}"> <img src="/static/search.png" style="border-radius: 10%;" width="50" height="40" ></a>
  <a href="{{url_for('connect_us')}}"> <img src="/static/connect.jpg" style="border-radius: 10%;" width="50" height="40" ></a>
    <a href="{{url_for('about_us')}}">  <img src="/static/about.jpg" style="border-radius: 10%;" width="50" height="40" ></a>


</head>
<body>

      <form method="post" enctype="multipart/form-data">
      <dl>
        <h1><labe>Poster update</labe></h1>
          <input type="file" name="filename" >
      </dl>
        <label>Movie title: </label></br>
        <input type="text" name="movie_title"></br>
        <label>Director:  </label></br>
        <input type="text" name="director" ></br>
       <label>Actors:   </label></br>
        <textarea type="text" name="name_actors" ></textarea></br>
        <label>Description:</label></br>
        <textarea type="text" name="description" ></textarea></br>
        <label>Release year: </label></br>
        <input type="number" name="release_year" ></br>
        <label>Trailer:  </label></br>
        <input type="text" name="video" ></br>
        <button type="submit" name="Update">Update</button>

    </form>

</body>
</html>