<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animation Movies</title>
        <link href="{{ url_for('static', filename= 'mystyle.css')}}" rel="stylesheet">



    <a href="{{url_for('home_movies')}}"> <img src="/static/movies.png" style="border-radius: 10%;" width="50" height=40" ></a>
    <a href="{{url_for('add_data')}}"> <img src="/static/add.png" style="border-radius: 10%;" width="40" height="40" ></a>
    <a href="{{url_for('connect_us')}}"> <img src="/static/connect.jpg" style="border-radius: 10%;" width="50" height="40" ></a>
    <a href="{{url_for('about_us')}}">  <img src="/static/about.jpg" style="border-radius: 10%;" width="50" height="40" ></a>

</head>
<body>

    <a align="right">
    <form method="post" action="{{url_for('search')}}">
    <input type="text" autofocus="autofocus" placeholder="Search"name="search_string">
    <input type="submit" formaction="/search" value="search">
    </form></a>


<center>
    <h1 style="color: #009698;">Animation Movies</h1>
    <h2 style="color: #009698 ;"> “Animation can explain whatever the mind of man can conceive" - Walt Disney</h2></br></br>

    {%for movie in movies_data%}
    <div style="overflow: hidden; display: inline-block;">
    <div class="container">
    <div class="box">
    <a href="{{url_for('movie_info', movie_id=movie.id)}}"><img src ="{{ url_for('display_image', filename=movie.filename)}}" style="border-radius: 10%;" width="250" height="300"></a>
    <b>{%print movie.movie_title%}</b>
    </div>
    </div>
    </div>
    {%endfor%}
</center>



<!-- Load font awesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The social media icon bar -->
<div class="icon-bar">
  <a href="https://www.facebook.com/animationmovie2/" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/animationmovief" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://www.youtube.com/results?search_query=animation+movie" class="youtube"><i class="fa fa-youtube"></i></a>
  <a href="https://www.google.com/search?q=animation+movie&oq=animation+movie&aqs=chrome..69i57j0i512l2j69i59j0i512l2j69i61l2.4894j0j7&sourceid=chrome&ie=UTF-8" class="google"><i class="fa fa-google"></i></a>
</div>
<a href="#" class="top">Back to Top &#8593;</a>



</body>
</html>
