body {
    background-color: #fddde6;
}


.container{
		width: 90%;
		padding: 10px;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
}

.box{
	width: 250px;
	margin: 0 10px;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	transition: 1s;

}
.box img{
	display: block;
	width:100%;
	border-radius: 2px;
}
.box:hover{
	transform: scale(1.3);
	z-index: 2;
}

b{
    color: #48d1cc;   font-weight: bold; font-size: 20px;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55acee;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.top {
    place-self:end;
    position:sticky;
    top: 40px; left: 10px;
    bottom:20px;
    margin-top:100vh;
  /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #ff69b4;
    background: #e7feff;
    border-radius: 100px;
}









